.hashtag {
  position: relative;
  padding-left: 6px;
}

.hashtag::before {
  content: '#';
  position: absolute;
  left: 0;
  pointer-events: none;
}

.hashtagList {
  height: max-content;
  width: 100px;
  gap: 2px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
