.languageLevel {
  flex-direction: row;
  gap: 17px;
  justify-content: space-between;
}
.listLanguages {
  flex-direction: column;
  gap: 10px;
  max-height: 53px;
}

.languagesBox {
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px;
  gap: 16px;
  width: 267px;
  height: 124px;
  background: var(--background-color);
}
