@import 'normalize.css';

@property --background-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #f0f0f0;
}

@property --primary-text-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #000000;
}

@property --secondary-text-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #3f3d3d;
}

@property --tertiary-text-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #5c5c5c;
}

@property --highlight-primary-text-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #ffffff;
}

@property --highlight-secondary-text-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #ebf9f2;
}

@property --highlight-tertiary-text-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #dddddd;
}

@property --highlight-quaternary-text-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #149063;
}

@property --highlight-background-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #28d979;
}

@property --badge-background-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #7e731267;
}

@property --badge-text-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #ddf163;
}

@property --icon-color {
  syntax: '<color>';
  inherits: false;
  initial-value: #f6ed1e;
}

body {
  padding: 20px;
}

#app {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  max-width: 595px;
  width: 100%;
}

article {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 14px;
  font-weight: 500;
}

h2 {
  font-size: 12px;
  font-weight: 500;
}

h3 {
  font-size: 10px;
  font-weight: 500;
}

h4 {
  font-size: 8px;
  font-weight: 400;
}

h5 {
  font-size: 5px;
  font-weight: 400;
}
